<header class="header">
    <nav class="header__menu header-menu">
        <ul class="header-menu__list">
            <li class="header-menu__elem">
                <span class="header-menu__text">О компании</span>
            </li>
            <li class="header-menu__elem">
                <span class="header-menu__text">Маршруты</span>
            </li>
            <li class="header-menu__elem">
                <span class="header-menu__text">Услуги</span>
            </li>
            <li class="header-menu__elem header-menu__elem_schedule">
                <a class="header-menu__link" href="tel:88007751207">8 (800) 775-12-07</a>
                <span class="header-menu__text">График работы пн-пт 9.00-18.00</span>
            </li>
            <li class="header-menu__elem header-menu__elem_burger">
                <span class="header-menu__text burger-button"></span>
            </li>
        </ul>
    </nav>
    <a href="http://c.rlogistic.ru/">
        <button class="header__button button">
            <span class="button__text">Войти</span>
            <img src="img/icons/login.svg" alt="" class="button__icon">
        </button>
    </a>
</header>
