<div class="hero">
    
    <video src="videos/bg-video.m4v" autoplay loop no-controls playsinline muted class="hero__video" preload="metadata"></video>
    <div class="hero__video-overlap"></div>
    <div class="hero__container container">
        <div class="hero__first-row">
            <div class="hero__logo-wrapper">
                <h1 class="hero__logo">Rus<br>logistic</h1>
                <span class="hero__logo-text">Логистическая компания</span>
            </div>
            <div class="hero__contacts">
                <a class="hero__tel" href="tel:88007751207">8 (800) 775-12-07</a>
                <span class="hero__schedule">График работы пн-пт 9.00-18.00</span>  
            </div>
        </div>
        <div class="hero__slider slider">
            <div class="slider__menu slider-menu">
                <span class="slider-menu__article">Меню</span>
                <div class="slider-menu__elem" data-target="1">
                    <div class="slider-menu__elem-header">
                        <span class="slider-menu__number">01</span>
                        <h2 class="slider-menu__title">О компании</h2>
                        <button class="slider-menu__close slider-menu__close_hidden"></button>
                    </div>
                    <p class="slider-menu__text">Мы предоставляем комплексные логистические решения выдающегося качества и операционного совершенства. В основе Бизнес-Философии ежедневная работа над улучшением обслуживания наших клиентов.</p>
                </div>
                <div class="slider-menu__elem" data-target="2">
                    <div class="slider-menu__elem-header">
                        <span class="slider-menu__number">02</span>
                        <h2 class="slider-menu__title">Услуги</h2>
                        <button class="slider-menu__close slider-menu__close_hidden"></button>
                    </div>
                    <p class="slider-menu__text">Мы предоставляем комплексные логистические решения выдающегося качества и операционного совершенства. В основе Бизнес-Философии ежедневная работа над улучшением обслуживания наших клиентов.</p>
                </div>
                <div class="slider-menu__elem" data-target="3">
                    <div class="slider-menu__elem-header">
                        <span class="slider-menu__number">03</span>
                        <h2 class="slider-menu__title">Обратная связь</h2>
                        <button class="slider-menu__close slider-menu__close_hidden"></button>
                    </div>
                    <p class="slider-menu__text">Мы предоставляем комплексные логистические решения выдающегося качества и операционного совершенства. В основе Бизнес-Философии ежедневная работа над улучшением обслуживания наших клиентов.</p>
                </div>
                <div class="slider-menu__elem" data-target="4">
                    <div class="slider-menu__elem-header">
                        <span class="slider-menu__number">04</span>
                        <h2 class="slider-menu__title">Контакты</h2>
                        <button class="slider-menu__close slider-menu__close_hidden"></button>
                    </div>
                    <p class="slider-menu__text">Мы предоставляем комплексные логистические решения выдающегося качества и операционного совершенства. В основе Бизнес-Философии ежедневная работа над улучшением обслуживания наших клиентов.</p>
                </div>
            </div>
            <div class="slider__slides">
                <div class="slider__slide slider-slide first" data-target="1">
                    <div class="slider-slide__numbering numbering">
                        <ul class="numbering__list">
                            <li class="numbering__elem numbering__elem_active">01</li>
                        </ul>
                        <h2 class="numbering__title">Философия и принцип работы</h2>
                    </div>
                    <div class="slider-slide__content">
                        <div class="first__left">
                            <p class="first__left-text">В январе 2012 года Совет директоров компании logo_rusfood принял решение о выделении логистического отдела из структуры организации в отдельную компанию для оказания услуг по перевозке грузов и таможенного оформления.</p>
                        </div>
                        <div class="first__right">
                            <p class="first__right-text">Большой объем собственных перевозок, налаженные отношения с контролирующими органами – дают возможность оказывать качественную услугу участникам вэд.<br>Мы предлагаем Вам то, что используем сами.</p>
                        </div>
                    </div>
                </div>
                <div class="slider__slide slider-slide second" data-target="2">
                    <div class="slider-slide__numbering numbering">
                        <ul class="numbering__list">
                            <li class="numbering__elem numbering__elem_active">01</li>
                            <li class="numbering__elem">02</li>
                            <li class="numbering__elem">03</li>
                        </ul>
                        <h2 class="numbering__title">Как работает<br>RUS LOGISTIC</h2>
                    </div>
                    <div class="slider-slide__content swiper">
                            <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <video class="second__video" preload="metadata" controls src="videos/video.m4v"></video>
                                <h4 class="second__title">Выбранный нами инновационный путь бодрит</h4>
                                <span class="second__text">Противоположная точка зрения подразумевает, что сделанные на базе интернет-аналитики выводы являются только методом политического </span>
                            </div>
                            <div class="swiper-slide second__lorem">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis totam itaque quis reiciendis maxime doloribus suscipit nisi minima at provident, aliquid, officia doloremque, autem accusantium hic quasi quod repellat culpa.</p>
                                <img src="img/map.svg">
                            </div>
                            <div class="swiper-slide second__lorem">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis totam itaque quis reiciendis maxime doloribus suscipit nisi minima at provident, aliquid, officia doloremque, autem accusantium hic quasi quod repellat culpa.</p>
                                <img src="img/map.svg">
                            </div>
                        </div>

                        
                        
                    </div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
                <div class="slider__slide slider-slide third" data-target="3">
                    <div class="slider-slide__numbering numbering">
                        <ul class="numbering__list">
                            <li class="numbering__elem numbering__elem_active">01</li>
                        </ul>
                        <h2 class="numbering__title">Обратная связь</h2>
                    </div>
                    <div class="slider-slide__content">
                        <span class="third__description">Оставьте заявку и мы свяжемся с вами в ближайшее время</span>
                        <form class="third__form" action="#">
                            <label class="third__label">
                                <span>Ваше имя</span>
                                <input type="text" class="third__input">
                            </label>
                            <label class="third__label">
                                <span>Ваш номер</span>
                                <input type="text" class="third__input">
                            </label>
                            <label class="third__label">
                                <span>Сообщение</span>
                                <textarea class="third__input third__input_textarea"></textarea>
                            </label>
                            <button class="third__button">Отправить</button>
                        </form>
                    </div>
                </div>
                <div class="slider__slide slider-slide fourth" data-target="4">
                    <div class="slider-slide__numbering numbering">
                        <ul class="numbering__list">
                            <li class="numbering__elem numbering__elem_active">01</li>
                        </ul>
                        <h2 class="numbering__title">Контакты</h2>
                    </div>
                    <div class="slider-slide__content">
                        <ul class="fourth__list">
                            <li class="fourth__elem">
                                <span class="fourth__title">Адрес: </span>
                                <span class="fourth__contact">г.Новосибирск, ул.Ленина 42, 123</span>
                            </li>
                            <li class="fourth__elem">
                                <span class="fourth__title">Телефон: </span>
                                <span class="fourth__contact"><a class="fourth__link" href="tel:88007751207">8 (800) 775-12-07</a></span>
                            </li>
                            <li class="fourth__elem">
                                <span class="fourth__title">Почта: </span>
                                <span class="fourth__contact">test@ruslogistic.ru</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>