<div class="menu">
    <ul class="menu__list">
        <li class="menu__elem menu-elem menu-elem_active">
            <div class="menu-elem__header">
                <span class="menu-elem__number">01</span>
                <h2 class="menu-elem__title">Схема доставки морским путем</h2>
            </div>
            <div class="menu-elem__content">
                <div class="menu-elem__content-header">
                    <div class="menu-elem__numbering numbering numbering_menu">
                        <ul class="numbering__list">
                            <li class="numbering__elem">01</li>
                            <li class="numbering__elem">02</li>
                            <li class="numbering__elem">03</li>
                            <li class="numbering__elem numbering__elem_active">04</li>
                        </ul>
                        <h2 class="numbering__title">Схема доставки морским путем</h2>
                    </div>
                    <span class="menu-elem__description">Груз поступает из Китая под таможенным котролем в режиме импорта.</span>
                </div>
                <div class="menu-elem__content-main">
                    <p>При прохождении границы груз одновременно получает таможенный выпуск(очистку) и дальше следует по России выпущенным свободное обращение.</p>
                    <img src="img/map.svg">
                    <p>При прохождении границы груз одновременно получает таможенный выпуск(очистку) и дальше следует по России выпущенным свободное обращение.</p>
                </div>
            </div>
        </li>
        <li class="menu__elem menu-elem">
            <div class="menu-elem__header">
                <span class="menu-elem__number">02</span>
                <h2 class="menu-elem__title">Схема доставки морским путем</h2>
            </div>
            <div class="menu-elem__content">
                <div class="menu-elem__content-header">
                    <div class="menu-elem__numbering numbering numbering_menu">
                        <ul class="numbering__list">
                            <li class="numbering__elem">01</li>
                            <li class="numbering__elem">02</li>
                            <li class="numbering__elem">03</li>
                            <li class="numbering__elem numbering__elem_active">04</li>
                        </ul>
                        <h2 class="numbering__title">Схема доставки морским путем</h2>
                    </div>
                    <span class="menu-elem__description">Груз поступает из Китая под таможенным котролем в режиме импорта.</span>
                </div>
                <div class="menu-elem__content-main">
                    <p>При прохождении границы груз одновременно получает таможенный выпуск(очистку) и дальше следует по России выпущенным свободное обращение.</p>
                    <img src="img/map.svg">
                    <p>При прохождении границы груз одновременно получает таможенный выпуск(очистку) и дальше следует по России выпущенным свободное обращение.</p>
                </div>
            </div>
        </li>
        <li class="menu__elem menu-elem">
            <div class="menu-elem__header">
                <span class="menu-elem__number">03</span>
                <h2 class="menu-elem__title">Китай Монголия Россия</h2>
            </div>
            <div class="menu-elem__content">
                <div class="menu-elem__content-header">
                    <div class="menu-elem__numbering numbering numbering_menu">
                        <ul class="numbering__list">
                            <li class="numbering__elem">01</li>
                            <li class="numbering__elem">02</li>
                            <li class="numbering__elem">03</li>
                            <li class="numbering__elem numbering__elem_active">04</li>
                        </ul>
                        <h2 class="numbering__title">Китай Монголия Россия</h2>
                    </div>
                    <span class="menu-elem__description">Груз поступает из Китая под таможенным котролем в режиме импорта.</span>
                </div>
                <div class="menu-elem__content-main">
                    <p>При прохождении границы груз одновременно получает таможенный выпуск(очистку) и дальше следует по России выпущенным свободное обращение.</p>
                    <img src="img/map.svg">
                    <p>При прохождении границы груз одновременно получает таможенный выпуск(очистку) и дальше следует по России выпущенным свободное обращение.</p>
                </div>
            </div>
        </li>
        <li class="menu__elem menu-elem">
            <div class="menu-elem__header">
                <span class="menu-elem__number">04</span>
                <h2 class="menu-elem__title">Китай Забайкальск Россия</h2>
            </div>
            <div class="menu-elem__content">
                <div class="menu-elem__content-header">
                    <div class="menu-elem__numbering numbering numbering_menu">
                        <ul class="numbering__list">
                            <li class="numbering__elem">01</li>
                            <li class="numbering__elem">02</li>
                            <li class="numbering__elem">03</li>
                            <li class="numbering__elem numbering__elem_active">04</li>
                        </ul>
                        <h2 class="numbering__title">Китай Забайкальск Россия</h2>
                    </div>
                    <span class="menu-elem__description">Груз поступает из Китая под таможенным котролем в режиме импорта.</span>
                </div>
                <div class="menu-elem__content-main">
                    <p>При прохождении границы груз одновременно получает таможенный выпуск(очистку) и дальше следует по России выпущенным свободное обращение.</p>
                    <img src="img/map.svg">
                    <p>При прохождении границы груз одновременно получает таможенный выпуск(очистку) и дальше следует по России выпущенным свободное обращение.</p>
                </div>
            </div>
        </li>
    </ul>
</div>